
    <div class="row">
        <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1 ">
            <h4 class="mb-3 mt-2 text-center">
                Sign in
            </h4>
            <div class="form-group row">
                <label for="email-login" class="col-2 col-form-label">Email</label>
                <div class="col-10">
                    <input class="form-control" type="email" placeholder="john.doe@example.com" id="email-login">
                </div>
            </div>
            <div class="form-group row">
                <label for="password-login" class="col-2 col-form-label">Password</label>
                <div class="col-10">
                    <input class="form-control" type="password" placeholder="MyPa$$W0rd" id="password-login">
                </div>
            </div>

            <div class="text-center">
                <a href="#" class="btn btn-primary ">Sign in</a>
            </div>
            <h4 class="mb-3 mt-5 text-center">
                Create account
            </h4>
            <div class="form-group row">
                <label for="name-signup" class="col-2 col-form-label">Name</label>
                <div class="col-10">
                    <input class="form-control" type="text" placeholder="John Doe" id="name-signup">
                </div>
            </div>
            <div class="form-group row">
                <label for="email-signup" class="col-2 col-form-label">Email</label>
                <div class="col-10">
                    <input class="form-control" type="email" placeholder="john.doe@example.com" id="email-signup">
                </div>
            </div>
            <div class="form-group row">
                <label for="password1-signup" class="col-2 col-form-label">Password</label>
                <div class="col-10">
                    <input class="form-control" type="password" placeholder="MyPa$$W0rd" id="password1-signup">
                </div>
            </div>
            <div class="form-group row">
                <label for="password2-signup" class="col-2 col-form-label">Password</label>
                <div class="col-10">
                    <input class="form-control" type="password" placeholder="MyPa$$W0rd" id="password2-signup">
                </div>
            </div>
            <div class="text-center">
                <a href="#" class="btn btn-primary ">Create your account</a>
            </div>

        </div>
    </div>

