<div class="row">
    <div class="col-3 offset-1">
        <img class="img-fluid-perso rounded" [src]="imageUrl()" alt="Product image." width="250" height="250">
    </div>
    <div class="col-7">
        <h4>{{item.name}}</h4>
        <h5>${{item.price}}</h5>
        <p>{{item.description}}</p>
        <form [formGroup]="newform" (ngSubmit)="submit(newform, $event)" class="form-inline">
            <label class="mr-2" for="inlineFormCustomSelect">Quantity</label>
            <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect" formControlName="quantity">
                <option value="1" selected="selected">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="25">25</option>
            </select>
            <button type="submit" class="btn btn-primary">Add to cart</button>
        </form>
    </div>
</div>
