<div class="row">
    <div *ngFor="let item of itemlist" class="col-12 col-sm-6 col-md-4 col-xl-3">
        <a style="display:block" (click)="changeRoute(item)">
            <div class="card card-outline-primary">
                <img class="card-img-top mx-auto d-block" [src]="imageUrl(item, item.imagesrc)" width="150" height="150" alt="Card image cap">
                <div class="card-footer">
                    <h6 class="card-title">{{item.name}}<span class=" pull-right text-primary ">${{item.price}}</span></h6>
                </div>
            </div>
        </a>
    </div>
</div>
<script>
function resizeImage() {
    $("img").each(function() {
        $(this).height($("#carouselExampleIndicators").width());
    })
}
$(window).resize(function() {
    resizeImage();
});
resizeImage();
</script>
